<h1>Client's details</h1>

<h2>$client.getName()</h2>

<button class="btn"><a href="/clients/new">Add another client</a></button>
<button class="btn"><a href="/clients">All clients</a></button>
<button class="btn"><a href="/">Go back</a></button>