<h1>Add a Stylist</h1>

<form action="/stylists" method="post">
<div class="form-group">
<label for="name">Stylist's Name:</label>
<input id="name" name="name" type="text">
<button type="submit" class="btn">Add stylist</button>
</div>
</form>